<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yuhyun.mybatispractice.board.mapper.BoardMapper">

    <!-- SQL 문들이 여기 들어감 -->
    <!-- findAll-->
    <select id="findAll" resultType="com.yuhyun.mybatispractice.board.domain.Board">
        select * from BOARD order by BOARD_ID desc;
    </select>

    <!-- findByBoardId-->
    <select id="findById" resultType="com.yuhyun.mybatispractice.board.domain.Board">
        select * from BOARD where BOARD_ID = #{boardId}
    </select>

    <!-- increaseViewCount -->
    <update id="increaseViewCount">
        update BOARD set VIEW_COUNT = VIEW_COUNT + 1 where BOARD_ID = #{boardId}
    </update>

    <!-- insert-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="boardId">
        insert into BOARD(TITLE, CONTENT, WRITER, PASSWORD)
        values (#{title}, #{content}, #{writer}, #{password})
    </insert>

    <!--    update-->
    <update id="update">
        update BOARD set TITLE = #{title}, CONTENT = #{content}, MODIFIED_AT = CURRENT_TIMESTAMP
        where BOARD_ID = #{boardId}
    </update>

    <!--  delete -->
    <delete id="deleteById">
        delete from BOARD where BOARD_ID = #{boardId}
    </delete>

    <select id="existsById" resultType="boolean">
        select COUNT(*) from BOARD where BOARD_ID = #{boardId}
    </select>

</mapper>